<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>
  {%- if site.data.navigation.header -%}
  <nav class="navigation">
    <ul>
      {%- for _item in site.data.navigation.header -%}
        {%- include snippets/get-nav-url.html path=_item.url -%}
        {%- assign _nav_url = __return -%}
        {%- include snippets/get-nav-url.html path=page.url -%}
        {%- assign _page_url = __return -%}
        {%- include snippets/get-string-from-locale-config.html locale=_item.titles -%}
        {%- if _nav_url == _page_url or page.nav_key and _item.key and page.nav_key == _item.key -%}
          <li class="navigation__item navigation__item--active"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
        {%- else -%}
          <li class="navigation__item"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
        {%- endif -%}
      {%- endfor -%}
      {%- if site.search.provider -%}
        <li><button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button></li>
      {%- endif -%}
    </ul>
  </nav>
  {%- endif -%}
  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/lanyon.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
